@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;800&display=swap');

* {
    padding:0px;
    margin:0px;
    font-family: Poppins;
    font-weight: 400;
}

.logo img{
    width: 120px;
}

.menu img{
    display: none;
    width: 30px;
}

.header, .section1, .section3, .footer{
    margin:50px 100px;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item{
    display: inline-block;
    margin:0px 20px;
}

.nav-link{
    text-decoration: none;
    color:#ad9e9e;
}

.nav-link.active{
    color:#000000;
}

.reg{
    border:2px solid #09C1F8;
    border-radius: 8px;
    padding:15px 30px;
}

.reg >.nav-link{
    color:#09C1F8;
}

.tech-img1{
    float: right;
}

.tech-img2{
    float: left;
}

.tech-img3{
    float: right;
}

.tech-img1 img, .tech-img2 img, .tech-img3 img{
    width: 40vw;
}

.content{
    display: flow-root;
    margin:100px 0px;
}

.content-heading h1{
    font-size: 55px;
    font-weight: 700;
    color:#1f1f1f;
}

.content-text{
    color:#ad9e9e;
    padding:40px 0px;
}

.content-button button{
    border:none;
    background-color:#067CEE;
    padding:15px 30px;
    border-radius: 8px;
    color:#ffffff;
    font-weight: 700;
}

.service-list{
    height: 550px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: space-between;
    margin:50px 0px;
}

.service-item{
    width: 33%;
}

.service-heading h1{
    font-size: 55px;
    font-weight: 700;
    color:#1f1f1f;
}

.service-item h3{
    color:#1f1f1f;
    font-weight: 700;
    padding:20px 0px;
}

.service-item p{
    color:#ad9e9e;
}

.section2{
    background-color: #09C0F7;
}

.plans{
    padding:50px;
}

.plan-heading h1{
    text-align: center;
    color:#ffffff;
    font-weight: 700;
    padding:20px 0px;
    font-size: 50px;
}


.plan-list{
    margin:10px 100px;
    display: flex;
    justify-content: space-between;
}

.plan-item{
    background-color: #fff;
    border-radius: 10px;
    width: 32%
}

.plan-top{
    padding:40px 40px 20px 40px;
}

.plan-bottom{
    padding:20px 40px 40px 40px;
}

.plan-name{
    font-size: 25px;
    font-weight: 700;
}

.plan-for{
    color:#ad9e9e;
    padding-top:10px;
    font-size: 15px;
}


.benifit-list{
    list-style-type: symbols('../asset/');
}

.plan-price{
    text-align: center;
    margin:40px 0px;
}

.plan-price span{
    font-size: 25px;
}

.choose-plan{
    text-align: center;
}

.choose-plan button{
    padding:15px 40px;
    border:2px solid #09C1F8;
    border-radius: 10px;
    background: transparent;
    color: #09C1F8;
    font-weight: 700;
}

.benifit-item{
    padding: 10px 0px;
}

.review-heading{
    text-align: center;
    font-weight: 700;
    font-size: 50px;
    color:#1f1f1f;
}


.review-subheading{
    text-align: center;
    width: 90%;
    margin:0px auto;
    padding:20px 0px;
    color:#1f1f1f;
}

.review-list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 500px;
    align-content: space-between;
}

.review-item{
    width:40%;
    box-shadow: 5px 5px 20px #b4b1b1;
    padding:30px 30px;
    border-radius: 10px;
}

.review-author{
    padding-top:20px;
}

.review-author ::before{
    content:"";
    float: left;
    height: 50px;
    width: 50px;
    border-radius: 25px;
    background-color: #D9D9D9;
    margin-right:10px;
}

.section4{
    background-color: #09C0F7;
}

.register{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:0px 100px;
    padding:100px 0px;
}

.register button{
    padding:15px 40px;
    background: transparent;
    border:1px solid #ffffff;
    border-radius: 5px;
    color:#ffffff;
    font-weight: 700;
}

.register-left{
    width: 600px;
}

.quote{
    color:#ffffff;
    font-weight: 700;
    font-size: 50px;
}

.subquote{
    color:#ffffff;
}

.footer{
    display: flex;
    justify-content: space-between;
    color:#ad9e9e;
}

.footer-logo{
    width: 300px;
}

.footer-nav > ul{
    list-style-type:none;
}

.footer-nav-item{
    margin:10px 0px;
}

.footer-nav-item img{
    margin:0px 2px;
}

.footer-nav-heading{
    font-weight: 700;
    font-size: 25px;
    color: #1f1f1f;
}

.footer-text{
    padding-top:20px;
}

@media (max-width:1200px){
    .nav-item{
        margin:0px 10px;
    }

    .header, .section1, .section3, .footer{
        margin:50px 50px;
    }

    .logo img{
        width: 100px;
    }

    .content-heading h1{
        font-size: 35px;
    }

    .content-text{
        color:#ad9e9e;
        padding:20px 0px;
    }
    
    
    .service-heading h1{
        font-size: 35px;
    }

    .tech-img1, .tech-img3{
        margin-left: 20px;
    }

    .tech-img2{
        margin-right: 20px;
    }

    .service-list{
        height: 720px;
    }

    .service-item{
        width: 45%;
    }

    .plan-list{
        margin:10px 0px;
    }

    .review-list{
        height: 600px;
    }
    
    .register{
        margin: 0px 50px;
    }

    .footer-logo{
        width: 220px;
    }
}

@media (max-width:900px){
    .nav-link{
        display: none;
    }

    .menu img{
        display: block;
    }
    
    .nav-item.reg .nav-link, .reg{
        display: none;
    }

    .header, .section1, .section3, .footer{
        margin:30px 30px;
    }

    .tech-img1, .tech-img2, .tech-img3{
        float: unset;
    } 

    .tech-img1 img, .tech-img2 img, .tech-img3 img{
        width: 95%;
    } 

    .content-heading h1{
        font-size: 25px;
    }

    .content-text p{
        font-size: 15px;
    }

    .service-list{
        flex-direction: column;
        flex-wrap: nowrap;
        height: unset;
    }

    .service-heading h1{
        font-size: 25px;
    }

    .service-item{
        width:100%;
        margin:10px 0px;
    }

    .service-item h3{
        font-size: 18px;
        padding:5px 0px;
    }
    
    .service-item p{
        font-size: 15px;
    }

    .plan-heading h1{
        font-size: 25px;
    }

    .plan-list{
        flex-direction: column;
    }

    .plan-item{
        width: 100%;
        margin:10px 0px;
    }

    .plan-top{
        padding:20px 20px 10px 20px;
    }
    
    .plan-bottom{
        padding:10px 20px 20px 10px;
    }
    
    .plan-name{
        font-size: 20px;
        font-weight: 700;
    }
    
    .plan-for{
        font-size: 15px;
    }
    
    
    .benifit-list ul{
        list-style-type: none;
        display: grid;
        grid-template-columns: 50% 50%;
        column-gap: 10px;
    }

    .benifit-item{
        font-size: 15px;
        margin: 0px 15px;
    }
    
    .plan-price{
        margin:20px 0px;
    }
    
    .choose-plan button{
        padding:10px 20px;
    }

    .plans{
        padding:30px;
    }

    .review-heading{
        font-size: 25px;
    }

    .review-subheading{
        font-size: 15px;
    }

    .review-list{
        flex-direction: column;
        flex-wrap: nowrap;
        height: unset;
    }

    .review-item{
        width: 85%;
        margin: 20px 0px;
    }

    .register{
        flex-direction: column;
        margin:0px 30px;
        padding:30px 0px;
    }
    
    .register button{
        padding:10px 30px;
    }
    
    .register-left{
        width: 100%
    }
    
    .quote{
        font-size: 25px;
    }
    
    .subquote{
        font-size: 15px;
        margin: 10px 0px;
    }

    .footer{
        flex-wrap: wrap;
    }
    
    .footer-logo{
        display: none;
    }
    
    .footer-nav > ul{
        list-style-type:none;
    }

    .footer-nav-heading{
        font-weight: 700;
        font-size: 20px;
        color: #1f1f1f;
    }
    
    .footer-text{
        padding-top:20px;
    }

}